<!--
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="main_logo">
      <p>COMPANY MANAGEMENT Portal</p>
  </div>
</nav>
-->
<div class="main_logo" >
  <p>COMPANY MANAGEMENT PORTAL</p>
</div>
<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <!--
      <div class="main_logo">
          Company Management Portal
      </div>
    -->
    <div class="menuBtn">
      <a class="nav-item nav-link" routerLink="department">Departments</a>
      <a class="nav-item nav-link" routerLink="employee">Employees</a>
      <a class="nav-item nav-link" routerLink="tasks">Tasks</a>
    </div>
    <a class="nav-item nav-link" routerLink="" id="logoutBtn" (click)="logout()">Logout</a>
  </div>
</nav>
<!--
<h5 class="justify-content-center">Company Management Portal</h5>
-->
<!-- main app container -->

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-22">
        <alert></alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<div class="footer" >
  <p> © 2021</p>
</div>
